= simple_form_for card do |f|
  .form-group
    = f.input :original_text,  as: :text, label: 'Оригинал',
              input_html: { class: 'form-control', required: true,
              autofocus: true }
  .form-group
    = f.input :translated_text,  as: :text, label: 'Перевод',
              input_html: { class: 'form-control', required: true }
  .form-group
    = f.input :image, as: :file, label: 'Изображение'
    = f.input :image_cache, as: :hidden
  .form-group
    = f.input :block_id, collection: current_user.blocks.all.order('title'),
              prompt: 'Выберите колоду', label: 'Колоды',
              input_html: { class: 'form-control', required: true }
  - if card.image?
    .form-group
      = f.input :remove_image, as: :boolean, label: 'Удалить изображение'
      .row
        .col-xs-6.col-md-4.card_image
          %p.thumbnail
            = image_tag card.image_url
  = f.button :submit, 'Сохранить', class: 'btn btn-default'
